<div class="container">
    <h1>Adminisrator Repositories</h1>
    <hr />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>License</th>
                <th>Creator</th>
                <th>Created On</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
<script src="~/js/repositories.js"></script>
}